<!--<div class="container">-->
  <!--<h1>Hero Form</h1>-->
  <!--<form>-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput formControlName="nom" type="text" class="form-control" value="spiderman" />-->
    <!--</mat-form-field>-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput formControlName="forca" type="number" class="form-control" value="25">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput formControlName="poder" type="text" class="form-control" value="fog">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput formControlName="velocitat" type="number" class="form-control" value="300">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput formControlName="any" type="number" class="form-control" value="1982">-->
    <!--</mat-form-field>-->
    <!--<button (click)="recuperarDades($event)">Carrega dades de servidor</button>-->
  <!--</form>-->
<!--</div>-->

<!--<div class="container">-->
  <!--<h1>Hero Form</h1>-->
  <!--<form>-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput [(ngModel)]="nom" type="text" class="form-control" name="nom"/>-->
    <!--</mat-form-field>-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput [(ngModel)]="forca" type="number" class="form-control" name="forca" value="25">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput [(ngModel)]="poder" type="text" class="form-control" name="poder" value="fog">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput [(ngModel)]="velocitat" type="number" class="form-control" name="velocitat" value="300">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput [(ngModel)]="any" type="number" class="form-control" name="any" value="1982">-->
    <!--</mat-form-field>-->
    <!--<button (click)="recuperarDades($event)">Carrega dades de servidor</button>-->
  <!--</form>-->
<!--</div>-->

<div>
  <h1>Hero Formulari Form</h1>
  <form [formGroup]="fg">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="nom"  type="text" class="form-control" placeholder="Nom" required/>
      <mat-error *ngIf="fg.controls['nom'].hasError('pattern')">Format erroni, Camp requerit de 20 caràcteres.</mat-error>
      <mat-error *ngIf="fg.controls['nom'].hasError('required')">Camp requerit.</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="forca"   type="number" class="form-control" placeholder="Força"/>
      <mat-error *ngIf="fg.controls['forca'].hasError('pattern')">Format erroni, nomès un número.</mat-error>
      <mat-error *ngIf="fg.controls['forca'].hasError('required')">Camp requerit.</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="poder"   type="text" class="form-control" placeholder="Poder"/>
      <mat-error *ngIf="fg.controls['poder'].hasError('pattern')">Format erroni, nomès caràcters.</mat-error>
      <mat-error *ngIf="fg.controls['poder'].hasError('required')">Camp requerit.</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="velocitat"  type="number" class="form-control" placeholder="Velocitat"/>
      <mat-error *ngIf="fg.controls['velocitat'].hasError('pattern')">Format erroni, nomès números.</mat-error>
      <mat-error *ngIf="fg.controls['velocitat'].hasError('required')">Camp requerit.</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="any"  type="text" class="form-control" placeholder="Any" required/>
      <mat-error *ngIf="fg.controls['any'].hasError('pattern')">Format erroni, Camp requerit amb 4 caràcteres..</mat-error>
      <mat-error *ngIf="fg.controls['any'].hasError('required')">Camp requerit.</mat-error>
    </mat-form-field>
    <input type="hidden" formControlName="index">
    <br><br>
    <button (click)="recuperarDades($event)">Carrega dades de servidor</button>&nbsp;
    <button (click)="modificarDades($event)">Modificar dades de servidor</button>
  </form>
  <div>
    <p *ngIf="teError">
      <mat-error>{{misstatgeErrorForm}}</mat-error>
    </p>
    <p *ngIf="success">
      {{missatgeSuccess}}
    </p>
  </div>

  <br>

  <h2>My Heroes List</h2>

  <!--<div id="merda"></div>-->
  <!--<ul class="heroes">-->
    <!--<li *ngFor="let hero of list.getLlistat()">-->
      <!--<span class="badge">{{hero.nom}}</span>,-->
      <!--<span class="badge">{{hero.forca}}</span>,-->
      <!--<span class="badge">{{hero.velocitat}}</span>,-->
      <!--<span class="badge">{{hero.poder}}</span>,-->
      <!--<span class="badge">{{hero.any}}</span>-->
    <!--</li>-->
  <!--</ul>-->

  <ng-container *ngFor="let hero of list.getLlistat()">
  <mat-card [style.background-color]="'lightgrey'"  *ngIf="hero != null">
    <mat-card-title>{{hero.nom}}</mat-card-title>
    <mat-card-content>
      <p>Forca: {{hero.forca}}</p>
      <p>Velocitat: {{hero.velocitat}}</p>
      <p>Poder: {{hero.poder}}</p>
      <p>Any: {{hero.any}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="delete(hero)" mat-button>Eliminar</button>&nbsp;
      <button (click)="update(hero)" mat-button> Modificar</button>
    </mat-card-actions>
  </mat-card>
  </ng-container>



</div>

