<!--<div class="container">-->
  <!--<h1>Hero Form</h1>-->
  <!--<form>-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput formControlName="nom" type="text" class="form-control" value="spiderman" />-->
    <!--</mat-form-field>-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput formControlName="forca" type="number" class="form-control" value="25">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput formControlName="poder" type="text" class="form-control" value="fog">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput formControlName="velocitat" type="number" class="form-control" value="300">-->
    <!--</mat-form-field>-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput formControlName="any" type="number" class="form-control" value="1982">-->
    <!--</mat-form-field>-->
    <!--<button (click)="recuperarDades($event)">Carrega dades de servidor</button>-->
  <!--</form>-->
<!--</div>-->

<div class="container">
  <h1>Hero Form</h1>
  <form>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="nom" type="text" class="form-control" name="nom"/>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="forca" type="number" class="form-control" name="forca" value="25">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="poder" type="text" class="form-control" name="poder" value="fog">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="velocitat" type="number" class="form-control" name="velocitat" value="300">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="any" type="number" class="form-control" name="any" value="1982">
    </mat-form-field>
    <button (click)="recuperarDades($event)">Carrega dades de servidor</button>
  </form>
</div>
